/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: #000000;
  z-index: 24234;
}

.header {
  background: url(../../images/Bg-hero.png) no-repeat;
  padding: 20px;
  display: flex;
  align-items: center;
}
.header > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header__hamburger {
  display: none;
}
.header__hamburger__line {
  height: 2px;
  width: 18px;
  background: #FFFFFF;
}
.header__hamburger__line + div {
  margin-top: 6px;
}
.header__nav {
  margin-left: auto;
}
.header__nav__list {
  display: flex;
  list-style: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__nav__list li a {
  text-decoration: none;
  color: white;
}
.header__link {
  display: flex;
  align-items: center;
  margin-left: 150px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__link a {
  text-decoration: none;
}
.header__link__black {
  color: white;
}
.header__link__white {
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 40px;
}

@media only screen and (max-width: 425px) {
  .header__hamburger {
    margin-left: auto;
    display: block;
  }
  .header__nav {
    display: none;
  }
  .header__link {
    display: none;
  }
}
.card {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1600px;
  background-color: #000000;
}
.card__trend {
  background: url(../../images/Bg-hero.png) no-repeat;
  text-align: center;
  padding-bottom: 100px;
}
.card__trend h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  /* identical to box height, or 81px */
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  color: #FFFFFF;
}
.card__trend > p {
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  max-width: 566px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 40px;
  color: #8B8B8B;
}
.card__trend > a {
  position: relative;
  padding: 16px 32px;
  background: #A8FF35;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  color: #000000;
}
.card__trend > a::after {
  content: url(../../images/img-hero.png);
  position: absolute;
  top: -10px;
  left: 190px;
  -webkit-animation: burulish 2s linear infinite;
          animation: burulish 2s linear infinite;
}
.card__trend__link {
  display: flex;
  margin-top: 100px;
}
.card__trend__link span {
  height: 82.000002243px;
  width: 351.2258088942px;
  background: #181818;
  font-weight: 400;
  font-size: 23.8065px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
.card__trend__link__1 {
  position: relative;
  display: flex;
  align-items: center;
  left: 100px;
  transform: rotate(-4deg);
  z-index: 4;
  font-weight: 400;
  font-size: 23.8065px;
  line-height: 28px;
}
.card__trend__link__1 > p {
  position: absolute;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__trend__link__1::before {
  padding-left: 30px;
  padding-right: 13px;
  content: url(../../images/img1.png);
}
.card__trend__link__1::after {
  margin-left: 225px;
  width: 84px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  content: url(../../images/X.png);
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  z-index: 10;
}
.card__trend__link__2 {
  position: relative;
  display: flex;
  align-items: center;
  top: 60px;
  left: 50px;
  z-index: 3;
  transform: rotate(2deg);
}
.card__trend__link__2 > p {
  position: absolute;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__trend__link__2::before {
  content: url(../../images/img2.png);
  padding-left: 30px;
  padding-right: 13px;
}
.card__trend__link__2::after {
  content: url(../../images/X.png);
  margin-left: 225px;
  width: 84px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  z-index: 10;
}
.card__trend__link__3 {
  position: relative;
  display: flex;
  align-items: center;
  transform: rotate(-2deg);
  z-index: 2;
}
.card__trend__link__3 > p {
  position: absolute;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__trend__link__3::before {
  content: url(../../images/img3.png);
  padding-left: 30px;
  padding-right: 13px;
}
.card__trend__link__3::after {
  content: url(../../images/X.png);
  margin-left: 225px;
  width: 84px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  z-index: 10;
}
.card__trend__link__4 {
  position: relative;
  display: flex;
  align-items: center;
  transform: rotate(4deg);
  top: 60px;
  left: -80px;
}
.card__trend__link__4 > p {
  position: absolute;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__trend__link__4::before {
  content: url(../../images/img4.png);
  padding-left: 30px;
  padding-right: 13px;
}
.card__trend__link__4::after {
  content: url(../../images/X.png);
  margin-left: 225px;
  width: 84px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  z-index: 10;
}

.tabs {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #A8FF35;
}
.tabs__shit > h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.tabs__shit > p {
  height: 54px;
  max-width: 666px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  text-align: center;
  color: #000000;
}
.tabs__shit__link {
  position: relative;
  background-color: #FFFFFF;
  height: 202px;
  max-width: 502px;
  display: flex;
  border-radius: 16px;
  margin-left: 90px;
}
.tabs__shit__link::after {
  position: absolute;
  left: 515px;
  top: 70px;
  content: url(../../images/rigth.png);
  -webkit-animation: burulish 2s linear infinite;
          animation: burulish 2s linear infinite;
}
.tabs__shit__link::before {
  position: absolute;
  left: -110px;
  top: 60px;
  content: url(../../images/left.png);
  -webkit-animation: burulishteskari 2s linear infinite;
          animation: burulishteskari 2s linear infinite;
}
.tabs__shit__link > a {
  margin-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  top: 60px;
  left: 50px;
  z-index: 3;
  height: 82px;
  width: 341.2257995605px;
  background-color: #000000;
}
.tabs__shit__link > a > p {
  font-weight: 400;
  font-size: 23.8064px;
  line-height: 28px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  margin-left: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabs__shit__link > a::before {
  content: url(../../images/Vector.png);
  padding-left: 30px;
  padding-right: 13px;
}
.tabs__shit__link > a::after {
  content: url(../../images/X.png);
  margin-left: 231px;
  width: 110px;
  height: 82px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
  z-index: 10;
  text-decoration: none;
}

.findtrend {
  padding-top: 140px;
}
.findtrend__make__info {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  height: 76px;
  width: 1160px;
  color: #000000;
}
.findtrend__make__info > span {
  color: #ADADAD;
}
.findtrend__make > h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  margin-top: 280px;
  text-align: center;
  color: #000000;
}
.findtrend__make__links__item > a {
  height: 120px;
  width: 266px;
  background: #F5F5F5;
  display: inline-block;
  text-decoration: none;
  margin-top: 32px;
  margin-left: 32px;
}
.findtrend__make__links__item > a > img {
  padding: 39px 46px;
  border-radius: 8px;
}

.connect {
  margin-top: 140px;
  background: #F5F5F5;
}
.connect__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000000;
}
.connect__list > h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  text-align: center;
}
.connect__list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 77px;
}
.connect__list__link > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  padding: auto;
  height: 124px;
  background: #FFFFFF;
  border-radius: 8px;
}
.connect__list__link > a + a {
  margin-left: 24px;
}
.connect__list__buttom {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.connect__list__buttom > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  padding: 16px 32px;
  text-align: center;
  background: #000000;
  border-radius: 40px;
  color: #FFFFFF;
  margin: auto;
}

.best {
  background: #000000;
  padding-bottom: 40px;
}
.best__card > h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  padding-top: 140px;
}
.best__card__item__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.best__card__item__form > #monthly {
  color: #c22020;
  opacity: 0.5;
}
.best__card__item__form > #monthly:checked ~ .activ1 > span {
  color: #c22020;
}
.best__card__item__form > #monthly:checked ~ .best__card__item__form__check > span {
  background: #000000;
  left: 7px;
  top: 7px;
}
.best__card__item__form #yearly:checked ~ .activ span {
  color: #942c2c;
}
.best__card__item__form > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.best__card__item__form > .activ1 {
  margin-right: 40px;
}
.best__card__item__form > .activ {
  position: relative;
  margin-left: 40px;
}
.best__card__item__form > .activ::after {
  content: url(../../images/img-connect.png);
  position: absolute;
  top: -15px;
  left: 80px;
  -webkit-animation: burulish 2s linear infinite;
          animation: burulish 2s linear infinite;
}
.best__card__item__form > label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.best__card__item__form > label > span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.best__card__item__form__check {
  position: relative;
  background: #FFFFFF;
  border-radius: 99px;
  height: 52px;
  width: 104px;
  border-radius: 99px;
}
.best__card__item__form__check > span {
  transition: all 0.4s;
  position: absolute;
  background: #A8FF35;
  border-radius: 99px;
  height: 36px;
  width: 36px;
  display: flex;
  left: 61px;
  top: 7px;
  border-radius: 99px;
}
.best__card__money {
  display: flex;
  flex-wrap: wrap;
}
.best__card__money > #s8:checked ~ .s8 {
  background: #A8FF35;
}
.best__card__money > #s8:checked ~ .s8 > .best__card__money__label__item > a {
  background: #000000;
  color: white;
}
.best__card__money > #s20:checked ~ .s20 {
  background: #A8FF35;
}
.best__card__money > #s20:checked ~ .s20 > .best__card__money__label__item > a {
  background: #000000;
  color: white;
}
.best__card__money > #s48:checked ~ .s48 {
  background: #A8FF35;
}
.best__card__money > #s48:checked ~ .s48 > .best__card__money__label__item > a {
  background: #000000;
  color: white;
}
.best__card__money > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30%;
}
.best__card__money__label {
  background: #FAFAFA;
  border-radius: 16px;
}
.best__card__money__label + label {
  margin-left: 40px;
}
.best__card__money__label__item {
  color: #000000;
  width: 360px;
  height: 640px;
  padding: 32px;
}
.best__card__money__label__item > h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}
.best__card__money__label__item > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.best__card__money__label__item__line {
  width: 100%;
  height: 1px;
  background-color: #8B8B8B;
}
.best__card__money__label__item__info {
  height: 370px;
}
.best__card__money__label__item__info > p {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.best__card__money__label__item__info > p > span {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
}
.best__card__money__label__item > a {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 30px;
  background: #A8FF35;
  border-radius: 29px;
  padding: 16px 80px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
}

.email {
  height: 539px;
  text-align: center;
  margin-top: 20px;
  background: #A8FF35;
}
.email__for > h2 {
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  padding-top: 140px;
  margin: 0px;
}
.email__for > p {
  margin: 0px;
  font-weight: 900;
  font-size: 72px;
  line-height: 112%;
  /* identical to box height, or 81px */
  margin-bottom: 40px;
  text-align: center;
  color: #87D322;
}
.email__for > a {
  padding: 16px 52px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  background: #000;
  border-radius: 40px;
  text-align: center;
  margin-top: 40px;
  color: #FFFFFF;
  text-decoration: none;
}

@-webkit-keyframes burulish {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(25deg);
  }
  75% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes burulish {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  50% {
    transform: rotateZ(25deg);
  }
  75% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes burulishteskari {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes burulishteskari {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(-25deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@media only screen and (max-width: 425px) {
  .card__trend > h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 112%;
  }
  .card__trend > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .card__trend > a::after {
    display: none;
  }
  .card__trend__link {
    display: block;
  }
  .card__trend__link__1 {
    position: static;
    transform: rotate(-4deg);
  }
  .card__trend__link__2 {
    position: static;
    transform: rotate(2deg);
  }
  .card__trend__link__3 {
    position: static;
    transform: rotate(-2deg);
  }
  .card__trend__link__4 {
    position: static;
    transform: rotate(4deg);
  }
  .tabs {
    padding-bottom: 80px;
  }
  .tabs__shit > h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 112%;
    margin-bottom: 80px;
  }
  .tabs__shit > p {
    margin-top: 80px;
  }
  .tabs__shit__link {
    height: 118px;
    width: 339px;
    margin-left: 18px;
    border-radius: 14px;
  }
  .tabs__shit__link::after {
    left: 230px;
    top: -50px;
  }
  .tabs__shit__link::before {
    left: -20px;
    top: 100px;
  }
  .tabs__shit__link > a {
    height: 69.9302368164px;
    width: 291px;
    top: 25px;
    left: -5px;
  }
  .tabs__shit__link > a::after {
    height: 69.9302368164px;
    width: 72.186050415px;
  }
  .findtrend__make__info {
    font-size: 36px;
    line-height: 43px;
  }
  .findtrend__make > h2 {
    font-size: 36px;
    line-height: 43px;
  }
  .findtrend__make__links__item > a {
    width: 162px;
    height: 74px;
    margin-left: 23px;
  }
  .findtrend__make__links__item > a > img {
    padding: 25px 23px;
  }
  .connect__list > h2 {
    font-size: 36px;
    line-height: 43px;
  }
  .connect__list__link > a {
    margin: 10px;
  }
  .connect__list__link > a + a {
    margin-left: 0px;
  }
  .best__card > h2 {
    font-size: 36px;
    line-height: 43px;
  }
  .best__card__item__form > .activ::after {
    top: 40px;
    left: -30px;
  }
  .best__card__money__label + label {
    margin-left: 0px;
    margin-top: 24px;
  }
  .email__for > h2 {
    font-size: 36px;
    line-height: 112%;
  }
  .email__for > p {
    font-size: 36px;
    line-height: 112%;
  }
  .email__for > a {
    font-size: 14px;
    line-height: 140%;
    padding: 12px 24px;
  }
}
.footer {
  padding: 40px 0px;
  display: flex;
}
.footer > ul {
  margin-left: auto;
  display: flex;
}
.footer > ul > li + li {
  margin-left: 40px;
}
.footer > ul > li > a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

@media only screen and (max-width: 425px) {
  .footer {
    display: block;
    text-align: center;
  }
  .footer > ul {
    margin-top: 90px;
    display: block;
    margin: 0 auto;
  }
  .footer > ul > li {
    margin-top: 30px;
  }
  .footer > ul > li + li {
    margin-left: 0px;
  }
}/*# sourceMappingURL=main.css.map */